name: Build images

on:
  push:
    branches:
      - '**'

env:
  GH_REGISTRY: ghcr.io
  DOCKER_REPO: ghcr.io/${{ github.repository }}

jobs:
  build:
    name: Build Docker and publish as GitHub package
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: Login to GitHub docker package repo
        uses: docker/login-action@v1
        with:
          registry: ${{ env.GH_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.cache
          key: ${{ runner.os }}-17-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-17-

      - name: cp docker volumes
        run: |
          if [ -f "/tmp/.cache/deps.tar.gz" ]; then
            sudo tar -xzf /tmp/.cache/deps.tar.gz
            echo "extracted"
          else
            mkdir -p ex
            echo new > ex/file.txt
          fi

#      - name: Setup upterm session
#        uses: lhotari/action-upterm@v1

      - name: Build and push app
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          load: true
          tags: "${{ env.DOCKER_REPO }}/kek:123"

#      - name: Setup upterm session
#        timeout-minutes: 30
#        uses: lhotari/action-upterm@v1

      - name: cp docker volumes
        run: |
          id=$(docker create ${{ env.DOCKER_REPO }}/kek:123)
          rm -rf ex/*
          docker cp $id:/root/file.txt ex/file.txt
          docker rm -v $id
          tar -czf /tmp/.cache/deps.tar.gz ex







#      - name: cp docker volumes
#        run: |
#          mkdir -p /tmp/.buildx-cache
#          sudo tar -czf /tmp/.buildx-cache/cache.tar.gz /var/lib/docker/volumes
#
#          sudo ls -lah /var/lib/docker/volumes
#          sudo find /var/lib/docker/volumes -name test_cache.txt | while read line ; do
#            echo === $line ===
#            sudo cat $line
#          done


#          sudo ls -lah /var/lib/docker/volumes
#          echo "test_cache.txt:"
#          sudo cat `sudo find /var/lib/docker/volumes -name test_cache.txt`



#          sudo mv /var/lib/docker/volumes /tmp/.buildx-cache/volumes
#          sudo mv /var/lib/docker/buildkit /tmp/.buildx-cache/buildkit



#      - name: Move cache
#        run: |
#          ls /var/lib/docker
#          apt-get install tree
#          ls -lah .
#          rm -rf /tmp/.buildx-cache
#          mv /tmp/.buildx-cache-new /tmp/.buildx-cache