name: Build images

on:
  push:
    branches:
      - '**'

env:
  GH_REGISTRY: ghcr.io
  DOCKER_REPO: ghcr.io/${{ github.repository }}

jobs:
  build:
    name: Build Docker and publish as GitHub package
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: Cache Buildx
        uses: actions/cache@v2
        id: buildx-cache
        with:
          path: /tmp/.cache
          key: ${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-
      - name: Login to GitHub docker package repo
        uses: docker/login-action@v1
        with:
          registry: ${{ env.GH_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Prepare Buildx envs
        run: |
          echo "BUILDX_BUILDER=${{ steps.buildx.outputs.name }}" >> $GITHUB_ENV
          echo "BUILDX_BUILDER_CONTAINER=buildx_buildkit_${{ steps.buildx.outputs.name }}0" >> $GITHUB_ENV
      - name: Restore buildx cache
        run: |
          if [ -f "/tmp/.cache/buildkit.tar.gz" ]; then
            docker buildx stop --builder "${BUILDX_BUILDER}"
            docker run --rm --volumes-from "${BUILDX_BUILDER_CONTAINER}" \
              -v /tmp/.cache:/tmp/.cache \
              alpine:3.10 /bin/sh -c "cd / && tar xzf /tmp/.cache/buildkit.tar.gz"
            docker buildx inspect --builder "${BUILDX_BUILDER}" --bootstrap
            docker buildx --builder "${BUILDX_BUILDER}" du --verbose
          fi
      - name: Build and push app
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: "${{ env.DOCKER_REPO }}/kek:${{ github.sha }}"
#          cache-from: type=registry,ref=${{ env.DOCKER_REPO }}/wunder_ruby_front_app_cache:${{ env.GITHUB_REF_SLUG_URL }}
#          cache-to: type=registry,ref=${{ env.DOCKER_REPO }}/wunder_ruby_front_app_cache:${{ env.GITHUB_REF_SLUG_URL }},mode=max


#      - name: Setup upterm session
#        timeout-minutes: 30
#        uses: lhotari/action-upterm@v1

      - name: Backup buildx cache
        run: |
          echo "Before pruning"
          docker buildx --builder "${BUILDX_BUILDER}" du --verbose
          echo "Start pruning"
          docker buildx --builder "${BUILDX_BUILDER}" prune --force --filter type=frontend
          docker buildx --builder "${BUILDX_BUILDER}" prune --force --filter type=regular
          docker buildx --builder "${BUILDX_BUILDER}" prune --force --filter type=source.local
          docker buildx --builder "${BUILDX_BUILDER}" prune --force --keep-storage 300000000
          echo "After pruning"
          docker buildx --builder "${BUILDX_BUILDER}" du --verbose
          echo "Backup buildx cache"
          docker run --rm --volumes-from "${BUILDX_BUILDER_CONTAINER}" \
            -v /tmp/.cache:/tmp/.cache \
            alpine:3.10 /bin/sh -c "cd / && tar czf /tmp/.cache/buildkit.tar.gz /var/lib/buildkit"

#      - name: Image digest
#        run: echo ${{ steps.docker_build.outputs.digest }}
