name: Build images

on:
  push:
    branches:
      - '**'

env:
  GH_REGISTRY: ghcr.io
  DOCKER_REPO: ghcr.io/${{ github.repository }}

jobs:
  build:
    name: Build Docker and publish as GitHub package
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: Login to GitHub docker package repo
        uses: docker/login-action@v1
        with:
          registry: ${{ env.GH_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-15-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-15-

#      - name: cp docker volumes
#        run: |
#          if [ -f "/tmp/.buildx-cache/cache.tar.gz" ]; then
#            sudo rm -rf /var/lib/docker
#            sudo tar -xzf /tmp/.buildx-cache/cache.tar.gz -C /
#            echo "extracted"
#          fi
#          sudo ls -lah /var/lib/docker/volumes
#          sudo find /var/lib/docker/volumes -name test_cache.txt | while read line ; do
#            echo === $line ===
#            sudo cat $line
#          done

#      - name: Setup upterm session
#        uses: lhotari/action-upterm@v1
      - run: mkdir -p path/to/artifact

      - run: echo hello > path/to/artifact/world.txt

      - uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: path/to/artifact/world.txt

#      - name: cp docker volumes
#        run: |
#          if [ -f "/tmp/.buildx-cache/cache.tar.gz" ]; then
#
#            sudo tar -xzf /tmp/.buildx-cache/cache.tar.gz -C /
#            echo "extracted"
#          fi
#          sudo ls -lah /var/lib/docker/volumes
#          sudo find /var/lib/docker/volumes -name test_cache.txt | while read line ; do
#            echo === $line ===
#            sudo cat $line
#          done

#            sudo rm -rf /var/lib/docker/volumes
#            sudo rm -rf /var/lib/docker/buildkit

#          mkdir -p  /tmp/.buildx-cache/
#          echo `date +%s` >> /tmp/.buildx-cache/test_cache.txt
#          sudo cp /tmp/.buildx-cache/test_cache.txt /var/lib/docker/test_cache.txt
#          sudo cp /var/lib/docker/test_cache.txt /tmp/.buildx-cache/test_cache.txt
#      - name: Build and push news-parser
#        uses: docker/build-push-action@v2
#        with:
#          context: services/news-parser
#          push: true
#          tags: "${{ env.DOCKER_REPO }}/news_parser:${{ github.sha }}"
#          cache-from: type=local,src=/tmp/.buildx-cache/news-parser
#          cache-to: type=local,dest=/tmp/.buildx-cache-new/news-parser,mode=max



      - name: Build and push app (staging)
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: "${{ env.DOCKER_REPO }}/kek:staging_${{ github.sha }}"



#          cache-from: type=local,src=/tmp/.buildx-cache/wunder_ruby_front_app
#          cache-to: type=local,dest=/tmp/.buildx-cache-new/wunder_ruby_front_app,mode=max



      - name: Setup upterm session
        timeout-minutes: 30
        uses: lhotari/action-upterm@v1


#      - name: cp docker volumes
#        run: |
#          mkdir -p /tmp/.buildx-cache
#          sudo tar -czf /tmp/.buildx-cache/cache.tar.gz /var/lib/docker/volumes
#
#          sudo ls -lah /var/lib/docker/volumes
#          sudo find /var/lib/docker/volumes -name test_cache.txt | while read line ; do
#            echo === $line ===
#            sudo cat $line
#          done


#          sudo ls -lah /var/lib/docker/volumes
#          echo "test_cache.txt:"
#          sudo cat `sudo find /var/lib/docker/volumes -name test_cache.txt`



#          sudo mv /var/lib/docker/volumes /tmp/.buildx-cache/volumes
#          sudo mv /var/lib/docker/buildkit /tmp/.buildx-cache/buildkit



#      - name: Move cache
#        run: |
#          ls /var/lib/docker
#          apt-get install tree
#          ls -lah .
#          rm -rf /tmp/.buildx-cache
#          mv /tmp/.buildx-cache-new /tmp/.buildx-cache